body {
    margin: 0px;
    width: 100%;
    height: auto;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header_boxes {
    display: flex;
    flex-direction: row;
}

#header_brown {
    width: 512px;
    height: 233px;
    background-color: #774c18;
    border: solid 1px black;
}

#header_green {
    width: 512px;
    height: 233px;
    background-color: #1b9647;
    /* transform: translate(512px, -233px); */
    border: solid 1px black;
}

#first_name {
    width: 512px;
    height: 233px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    margin-top: -1px;
}

#last_name {
    width: 512px;
    height: 233px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    margin-top: -1px;
}

#nav {
    width: 1024px;
    height: 70px;
    background-color: #f9cf00;
    border: solid 1px black;
}

#nav_text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
}

ul {
    list-style-type: none;
}

.Intro_Text {
    display: flex;
    justify-content: center;
    border: solid 1px black;
    margin-left: 20px;
}

#Intro_Heading {
    height: 35px;
    width: 660px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    border: solid 1px black;
}

#Intro_Text {
    height: 130px;
    width: 660px;
    display: flex;
    border: solid 1px black;
    flex-direction: column;
}

#profile_pic {
    height: 300px;
    width: 256px;
    border: solid 1px black;
    background-color: aqua;
    display: flex;
    margin: 20px;
}

#intro {
    width: 1024px;
    height: 1000px;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
}

#contact {
    width: 960px;
    height: 200px;
    background-color: #f9cf00;
    margin-left: 32px;
    margin-bottom: 32px;
    border: solid 1px black;
}

#footer {
    height: 180px;
    width: 1024px;
    background-color: #1b9647;
    border: solid 1px black;
}