body {
    margin: 0px;
    width: 100%;
    height: auto;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#header_brown {
    width: 512px;
    height: 233px;
    background-color: #774c18;
}

#header_green {
    width: 512px;
    height: 233px;
    background-color: #1b9647;
    transform: translate(512px, -233px);
}

#first_name {
    width: 512px;
    height: 233px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#last_name {
    width: 512px;
    height: 233px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav {
    width: 1024px;
    height: 70px;
    background-color: #f9cf00;
}

#nav_text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Intro_Text {
    display: flex;
    justify-content: center;
}

#Intro_Heading {
    height: 35px;
    width: 660px;
    display: flex;
    justify-content: center;
}

#Intro_Text {
    height: 130px;
    width: 660px;
    display: flex;
    justify-content: center;
    margin-left: 32px;
}

#intro {
    height: 1000px;
}

#contact {
    width: 960px;
    height: 200px;
    background-color: #f9cf00;
    margin-left: 32px;
    margin-bottom: 32px;
}

#footer {
    height: 180px;
    width: 1024px;
    background-color: #1b9647;
}